@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
body h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 4.25rem;
}

nav#main {
  background-color: rgba(148, 148, 148, 0.34);
  border-radius: 40px;
  height: 60px;
  border: 1px solid rgba(184, 184, 184, 0.5);
}
nav#main ul li a {
  color: #fff;
  font-size: 12px;
}
nav#main button {
  font-size: 12px;
}
nav#main a {
  font-size: 12px;
}

.logo {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
}

.word-mark {
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
}
.word-mark .logo-top-text {
  font-size: 20px;
  font-weight: bolder;
  line-height: 20px;
}
.word-mark .logo-bottom-text {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

#hero {
  box-sizing: border-box;
  background-image: url("../assets/bg/mens-confrence-2024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 48px;
  margin: 1% auto !important;
  width: 98%;
  color: #fff;
}
#hero #hero-title h1,
#hero #hero-title h4 {
  color: #fff;
}
#hero #count-down {
  bottom: 10%;
}

#welcome-jesus-image {
  aspect-ratio: 256/77;
  width: 100%;
  background-image: url(../assets/bg/jesus-carrying-cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

#our-mission .bg {
  background-image: url(../assets/bg/orange-background.jpg);
  filter: grayscale(30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 0;
}

#our-mission {
  color: #fff;
  background-color: #ed4b1e;
  border-radius: 48px;
  overflow: hidden;
  margin: 0 auto 1% !important;
  width: 98%;
  opacity: 1;
  z-index: 1;
}
#our-mission .row {
  position: relative;
  z-index: 3;
}
#our-mission .row .card {
  color: #000;
  border-radius: 24px;
}
#our-mission .row .card .card-body a {
  color: #ed4b1e;
}
#our-mission .row .bg-jesus-teaching {
  background-image: url("../assets/jesus-teaching.png");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 256/93;
  width: 100%;
  overflow: hidden;
  border-radius: 24px 24px 0 0;
}

.arrow-down {
  background-image: url("../assets/curve.png");
  background-repeat: no-repeat;
  width: 138px;
  height: 35px;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;
  width: 830px;
  aspect-ratio: 1/1;
  transform: rotate(90deg);
}
.bg-wrapper .styalized-bg {
  background-image: url("../assets/bg/texture.jpg");
  background-repeat: no-repeat;
  background-blend-mode: exclusion;
  background-color: #fff;
  opacity: 0.25;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.bg-wrapper .styalized-bg .gradient {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 75%);
  width: 100%;
  height: 100%;
}

#cta #messaging {
  font-size: 3rem;
  margin-top: 140px;
}

#flare-1 {
  overflow-x: hidden !important;
  height: 400px;
  position: absolute;
  top: -415px;
  left: 65%;
  overflow: hidden;
}
#flare-2 .bg-wrapper {
  top: 0px;
  left: -20%;
}

.line {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #000;
}

#line-1 {
  top: 70px;
}

#line-2 {
  bottom: -70px;
  transform: rotate(90deg);
  right: 0;
}

.orange-text {
  color: #ed4b1e;
}

.grey-text {
  color: #ccc;
}

/*# sourceMappingURL=main.css.map */
