@use "sass:map";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "./variables";

@import "../bootstrap/scss/bootstrap";
@import "./custom";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.btn-fancy {
  --bs-btn-color: #fff;
  --bs-btn-bg: linear-gradient(135deg, #ff7a18, #ffb347);
  --bs-btn-border-color: transparent;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: linear-gradient(135deg, #e96a10, #f4a236);

  --bs-btn-active-bg: linear-gradient(135deg, #cc5d0e, #d98d2d);

  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
}